.CardTitle{
    text-overflow: ellipsis;
    overflow: hidden;
    width:10ch;
    white-space: nowrap;
    font-weight: bold;
    text-transform: capitalize;

}

.CardBody{
    overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 3; 
           line-clamp: 3; 
   -webkit-box-orient: vertical;
}
.CardInfo{
    display: flex;
    justify-content: space-between;
    font-weight: lighter;
    font-size: .8em
}